<!-- <div class="navbar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>My name is navbar</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, rerum, unde, doloribus totam sed nulla beatae excepturi laborum autem eum perspiciatis nisi illum vero nihil ducimus impedit consectetur. Velit, repudiandae!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, animi veniam quam dolorum perspiciatis ea doloribus quae reiciendis illo odio at impedit dignissimos fugit sequi quas ducimus exercitationem rem asperiores.</p>
			</div>
		</div>
	</div>
</div> -->