  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle Nav</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-tint"></span> Administrator</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-large"></span> Tabel <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="tabel_pribadi.html">Tabel Pribadi</a></li>
	            <li><a href="tabel_perusahaan.html">Tabel Perusahaan</a></li>
	            <li><a href="tabel_teknologi.html">Tabel Teknologi</a></li>
	            <li><a href="tabel_implementasi.html">Tabel Implementasi</a></li>
            </ul>
          </li>
          <li><a href="input_data_pribadi.html"><span class="glyphicon glyphicon-edit"></span> Input Tabel</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class=""><a href="registrasi.html"><span class="glyphicon glyphicon-pencil"></span> Registrasi</a></li>
  				<li class=""><a href="login.html"><span class="glyphicon glyphicon-share-alt"></span> Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>