  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wizard">
          <div class="steps clearfix">
            <ul>

              <li {% if page.step == 1 %}class="current"{% else %}class="done"{% endif %}>
                <a href="input_data_pribadi.html">
                  <span class="number">1</span> Tabel Pribadi
                </a>
              </li>

              <li {% if page.step == 2 %}class="current"{% else %}class="done"{% endif %}>
                <a href="input_data_perusahaan.html">
                  <span class="number">2</span> Tabel Perusahaan
                </a>
              </li>

              <li {% if page.step == 3 %}class="current"{% else %}class="done"{% endif %}>
                <a href="input_data_teknologi.html">
                  <span class="number">3</span> Inovasi Teknologi
                </a>
              </li>

              <li {% if page.step == 4 %}class="current"{% else %}class="done"{% endif %}>
                <a href="input_data_implementasi.html">
                  <span class="number">4</span> Implementasi dan Dampak Sosial
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 
